root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,tsx}]
charset = utf-8

[*.{js,ts,tsx}]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2
